@import "tailwindcss";
@import "tailwindcss-animated";

@theme  {
    --arten-primary: #324e57;
    --arten-secondary: #245E6E;
    --arten-light: #22677E;
}

#root{
    @apply p-4;
}

body{
    @apply bg-neutral-500;
}

.card {
    @apply w-full h-full  bg-white flex flex-col gap-4 items-center justify-between px-6 py-8 rounded-t-2xl rounded-b-none md:rounded-l-2xl md:rounded-t-none shadow-lg ;
}

.card  .title {
    @apply text-3xl font-bold text-[var(--arten-primary)] animate-fade-left animate-once animate-duration-2000 animate-delay-1500;
}
.card  .body{
    @apply text-gray-700 mt-2 font-bold animate-fade-right animate-once animate-duration-1000 animate-delay-1500;
}

.card .photo {
    @apply w-1/2 rounded-full mt-1.5  animate-fade-up animate-once animate-duration-2000 animate-delay-1500;
}


.card .icon {
    @apply w-6 h-6 animate-flip-up animate-once animate-duration-1000 animate-delay-2500;
}

.card .text-about {
    @apply text-center  text-gray-700 animate-fade animate-once animate-duration-1000 animate-delay-[2500ms];
}

.card .showMore {
    @apply mt-4 inline-block px-6 py-2 text-[var(--arten-primary)] rounded-lg border-[var(--arten-primary)] border-2 font-semibold hover:bg-[var(--arten-primary)] hover:text-white transition-colors duration-300 animate-fade-down animate-once animate-duration-1000 animate-delay-1500;
}

.card .buttonDownload {
    @apply md:mt-2 mt-4 inline-block px-6 py-2 bg-[var(--arten-primary)] text-white rounded-lg hover:bg-[var(--arten-secondary)] transition-colors duration-300 animate-fade-down animate-once animate-duration-1000 animate-delay-1500;
}